<%= content_for(:header) do %>
  <h2><%= @property.name %></h2>
<% end %>

<div class="row">

<div class="col col-md-6">
  Photo will go here
</div>
<div class="col col-md-6 gen-info">
  <h4><%= @property.description %></h4>
  <p>Price: $<%= @property.price %> per night</p>
  <p>Location: <%= @property.location %></p>
  <p>Owner: <%= link_to "#{@property.owner.name}", user_path(@property.owner) %></p>

  <% if current_user.rentals %>
    <p>Your rentals for this property: </p>
    <ul>
    <% current_user.rentals.each do |rental| %>
      <% if rental.property_id == @property.id %>
        <li>From <%= rental.start_date %> to <%= rental.end_date %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  <br/>
</div>
</div>


<%= form_for @rental do |f| %>
  <div class="date-choice">
    <div class="panel panel-default">

      <div class="panel-heading">Check-in</div>

      <h4>
        <span class="month_left_arrow"> < </span>
        <%= @month_name %>
        <span class="month_right_arrow"> > </span>
      </h4>

      <table id="start-date" class="panel-body calendar">
          <% 1.upto(Time.days_in_month(@current_month)) do |day| %>
            <% full_date = "#{@current_month}/#{day}/2014" %>

            <% if day % 7 == 1 %>
              <tr>
            <% end %>

            <% if @current_rentals.include?(Date.strptime(full_date, '%m/%d/%Y')) %>
              <td class="unclickable"><%= " #{day}"[-2..-1] %></td>
            <% else %>
              <td id="<%= full_date %>" class="clickable start"><%= " #{day}"[-2..-1] %></td>
            <% end %>

            <% if day % 7 == 0 %>
              </tr>
            <% end %>
          <% end %>
        </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Check-out</div>

      <h4>
        <span class="month_left_arrow"> < </span>
        <%= @month_name %>
        <span class="month_right_arrow"> > </span>
      </h4>

      <table id="end-date" class="panel-body calendar">

        <% 1.upto(Time.days_in_month(@current_month)) do |day| %>
          <% full_date = "#{@current_month}/#{day}/2014" %>

          <% if day % 7 == 1 %>
            <tr>
          <% end %>

          <% if @current_rentals.include?(Date.strptime(full_date, '%m/%d/%Y')) %>
            <td class="unclickable"><%= day %></td>
          <% else %>
            <td id="<%= full_date %>" class="clickable end"><%= day %></td>
          <% end %>

          <% if day % 7 == 0 %>
              </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <%= f.hidden_field :start_date, value: nil %>
  <%= f.hidden_field :end_date, value: nil %>
  <%= f.hidden_field :property_id, value: @property.id %><br/>
  <%= f.submit "Rent!", :class => 'btn btn-danger' %>
<% end %>

<br/>

<% if @property.owner == current_user %>
  <%= link_to "Delete this Property", property_path(@property), :class => 'btn btn-danger', :data => {:confirm => "Are you sure you wish to delete this listing?", :method => "delete"} %>
  <%= link_to "Edit this property", edit_property_path(@property), :class => 'btn btn-danger' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.start').click(function(){
      $('.start').removeClass("active_date");
      $(this).addClass("active_date");
      $('#rental_start_date').val($(this).attr('id'));
    });

    $('.end').click(function(){
      $('.end').removeClass("active_date");
      $(this).addClass("active_date");
      $('#rental_end_date').val($(this).attr('id'));
    });
  });
</script>
